{% extends 'index.html' %}
{% block content %}
{% load static %}
<div class="container">
	<h1 class="title">Home</h1>
	<hr>
	<div class="jumbotron">
		<p>Prototype of a Natural Person registration system demonstrating the use of Django with an SQLite database. The front-end is built using the Bootstrap framework.</p>
	</div>
	<div class="row col-md-12">
		<div class="col-md-offset-9">
			<a href="https://www.djangoproject.com/"><img class="offset-md-1 logod" src="{% static 'img/logod.png' %}"></a>
		</div>
	</div>
</div>
{% endblock %}