{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="responsive">
        <h1>Cars Catalog</h1>
        <div class="row">
            <table class="table">
                {% for car in cars %}
                <tr>
                    <td>
                        <div class="col-md-4">
                            <img class="img-responsive imgCatg" src="{{car.imageCar.url}}">
                        </div>
                        <div class="col-md-4">
                            <h3>{{car.model}}</h3>
                            <h5>{{car.yearCar}}</h5>
                            <p>{{car.marketVal}}</p>
                        </div>
                        <div class="col-md-4">
                            <a class="btn btn-info pull-right" href="{% url 'crud.views.show_car' idcust=car.customer_id idcar=car.id %}">MORE</a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </table>
            <tfoot>
            <hr>
            <span>
         {% if cars.has_previous %}
         <a href="?page={{ cars.previous_page_number }}">previous</a>
         {% endif %}
         <span>
         Page {{ cars.number }} of {{ cars.paginator.num_pages }}
         </span>
         {% if cars.has_next %}
         <a href="?page={{ cars.next_page_number }}">next</a>
         {% endif %}
         </span>
            </tfoot>
        </div>
    </div>
</div>
{% endblock %}
