{% extends 'index.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Cars Catalog</h1>
        </div>
    </div>
    <div class="row">
         {% for car in cars %}
                <a href="{% url 'show-car' idcust=car.customer_id idcar=car.id %}">
                    <div class="col-md-3 font-text div-col">
                        <img class="img-responsive imgCatg img-catalog img-responsive" src="{{car.picture.url}}">
                        <div class="row">
                            <div class="col-md-6 text-left">
                                <b>Model: </b>{{car.model}}
                            </div>
                            <div class="col-md-6">
                                <b>Year: </b>{{car.year}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <b>Price: </b>{{car.market_value}}
                            </div>
                        </div>
                    </div>
                </a>
         {% endfor %}
    </div>
    <div class="row">
         <div class="col-md-12">
             <div class="pull-right">   
                 {% if cars.has_previous %}
                    <a href="?page={{ cars.previous_page_number }}">previous</a>
                 {% endif %}
                 <span>
                 Page {{ cars.number }} of {{ cars.paginator.num_pages }}
                 </span>
                 {% if cars.has_next %}
                    <a href="?page={{ cars.next_page_number }}">next</a>
                 {% endif %}
             </div>
         </div>
    </div>
</div>
{% endblock %}



